@import "../../colors.scss";

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 0.4rem 0.6rem;
  margin: 0.1rem;
  border: none;
  border: 1px solid #f7f8f9;
  border-radius: 4px;
//   background-color: $sidebar-option-selected-background;
  &:focus-visible {
    outline: none;
    border: 1px solid $sidebar-option-selected !important;
  }
}
