@import "../../colors.scss";

.navbar {
  height: 80px;
  width: 100%;
  background-color: $purple;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: sticky;
  top: 0;

  &__left {
    display: flex;
    align-items: baseline;
    column-gap: 0.5rem;
    justify-content: flex-start;
    align-self: end;
    &__hyperlink-wrapper {
      display: contents;
    }
    &__separator {
      font-size: 2rem;
      font-weight: 400;
      color: $white;
      align-self: normal;
    }
    &__brand {
      font-size: 2rem;
      font-weight: 400;
      color: $white;
    }
  }
  &__right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
    &__button {
      color: $white;
      text-decoration: none;
    }
  }
}
