@import "../../colors.scss";

.sidebar {
  background: $white;
  width: 20%;
  min-width: 10rem;
  border-right: 2px solid $sidebar-separator;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  &__header {
    padding: 2.5rem 0;
    height: 8.5rem;
  }
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper__link {
      display: contents;
    }
    &__wrapper {
      display: flex;
      align-items: baseline;
      column-gap: 0.5rem;
      justify-content: flex-start;
      align-self: end;
    }
    &__separator {
      font-size: 2rem;
      font-weight: 400;
      color: $purple;
      align-self: normal;
    }
    &__brand {
      font-size: 2rem;
      font-weight: 400;
      color: $purple;
    }
  }
  &__content {
    height: calc(100% - 8.5rem);
    overflow-y: auto;
    position: relative;
  }
  &__category {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    &__header {
      font-size: 1rem;
      color: $sidebar-category;
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
    }
    &__content {
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 0.5rem;
    }
  }
  &__option {
    width: 100%;
    height: 2rem;
    color: $sidebar-option;
    border-radius: 8px;
    padding: 0 0.5rem;
    cursor: pointer;
    &__wrapper__link {
      display: contents;
    }
    &:hover {
      color: $sidebar-option-selected;
      background-color: $sidebar-option-selected-background;
    }
    &__icon {
      font-size: 1.1rem;
      line-height: 2rem;
      vertical-align: bottom;
    }
    &__content {
      line-height: 2rem;
      font-size: 1.1rem;
      margin-left: 0.2rem;
    }
    &--active {
      color: $purple !important;
      &::before {
        content: "";
        position: absolute;
        height: 2rem;
        width: 5px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background-color: $purple;
        left: 0;
      }
    }
  }
}
